/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans', sans-serif ;
	font-size: 14px;
	background-color: #FFFEF8;
}

main {
	flex: 1;
	max-width: 1140px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav li img {
	width: 22px;
	height: 22px;
}

header a {
    text-decoration: none;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer {
	width: 1440px;
    position: relative;
    bottom: 0;
	left: 0;
    width: 100%;
    text-align: center;
}

.footerLogin {
    position: fixed;
    bottom: 0;
	left: 0;
    width: 100%;
    text-align: center;
	padding-right: 50px;
}

.footerLogin li {
	padding-right: 50px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	padding: 24px 0px 20px 0;
}

/* Mes Ajouts */

/* Boutons  */
.btns-portfolio {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding-bottom: 30px;
}

.btns-portfolio button {
	border: 1px solid #1D6154;
	font-family: 'Syne';
	font-size: 16px;
	font-weight: 700;
	color: #1D6154;
	background-color: #FFFEF8;
	border-radius: 20px;
	padding: 6px 20px;
}

.btns-portfolio button:hover {
	border: 2px solid #ffff;
	color: #ffff;
	background-color: #1D6154;
}

/* Login */


.mdp-oublie {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Work Sans' ;
	font-size: 14px;
	color: #000000;
}

#loginSection {
	width: 50%;
	margin: auto;
}

#loginSection > * {
	text-align: center;

}
#loginSection h2{
	margin-bottom: 20px;
}
#loginSection form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#loginSection input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#loginSection label {
	margin: 2em 0 1em 0;
}

.errorLogin {
	padding: 50px;
	font-weight: bolder ;
	text-align: center;
}

.differente{
	font-size: 14px;
}

.banner {
	height: 60px;
	background-color: #000000;
	color: #FFFEF8;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Work Sans'; 
}

.banner i {
	padding: 5px;
}

/* Modal */

.modal{
	/* border: 5px solid blue; */
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
	/* border: 3px solid red; */
	background-color: #ffffff;
	margin: 20% auto;
	width: 630px;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 0 55px 0;
	border-radius: 10px;
}

.modalHeader {
	/* border: 2px solid blue; */
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0 30px 0 30px;
	box-sizing: border-box;
}

.returnBtn i {
	/* border: 2px solid pink; */
	width: 21px;
	height: 21px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.closeBtn i {
	/* border: 2px solid pink; */
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.closeBtn:hover,
.closeBtn:focus {
	text-decoration: none;
	cursor: pointer;
}

.returnBtn:hover, .returnBtn:focus {
	cursor: pointer;
}

.modalTitle {
	font-weight: 400;
	font-size: 26px;
	line-height: 30.5px;
	margin-bottom: 40px;
}

/* juste pour la gallery, pas la page ajout work */
.galleryModal {
	width: 420px;
    /* border: 2px solid purple; */
    display: flex;
    flex-wrap: wrap;
	
	/* padding: 0px 105px; */
}

.galleryModal div {
    flex: 0 1 20%;
    box-sizing: border-box;
    padding: 5px;
}

.galleryModal img {
    width: 100%;
    height: auto;
}

.btnAddImg {
	text-align: center;
	border: 1px solid #1D6154;
	font-family: 'Syne';
	font-size: 16px;
	font-weight: 700;
	color: #f4f4f4; 
	background-color: #1D6154;
	border-radius: 20px;
	padding: 6px 20px;
}

.btnAddImg:hover {
	cursor: pointer;
}

.hrGalleryModal {
	margin-top: 60px;
	margin-bottom: 30px;
	border-top: 1px solid #B3B3B3;
	width: 70%;
}

/* Ajout poubelle sur image */
.containerBin {
    position: relative;
    display: inline-block;
}

.iconBin {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    background-color: black;
    border-radius: 5px;
    text-align: center;
	cursor: pointer;
}

/* juste pour la gallery, pas la page ajout work */

/* page ajout Work */

.imgUploadForm form {
	/* outline: 2px solid grey; */
	width: 420px;
	display: flex;
	flex-direction: column;
}

.uploadPhotoForm {
	/* border: 2px solid purple; */
	height: 169px;
	box-sizing: border-box;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #e8f1f6;
	border-radius: 3px;
	padding: 13px 0 19px 0;
}

.fileUploadLabel {
	width: 76px;
	height: 76px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.uploadImgIcon {
	color: #cbd6dc;
}

.fileUploadBtn {
	margin: 6px 0 7px 0;
	height: 36px;
	text-decoration: none;
	background-color: #cbd6dc;
	color: #306685;
	border: none;
	text-align: center;
	border-radius: 50px;
	padding: 0px 30px 0px 30px;
	font-size: 14px;
	font-weight: 500;
	line-height: 16.42px;
	cursor: pointer;
}

#fileUpload {
	display: none;
}

#errorMissingFile {
	color: red;
	display: none;
}

.infoPhoto {
	font-size: 10px;
	font-weight: 400;
	line-height: 11.73px;
	color: #444444;
}

.inputFields {
	/* border: 2px solid purple; */
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

.inputFields label {
	padding: 21px 0 10px 0;
	font-size: 14px;
	font-weight: 500;
	font-family: "Work Sans", sans-serif;
	color: #3d3d3d;
}

.inputFields input,
.inputFields select {
	height: 50px;
	font-size: 14px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.inputFields div {
	padding-bottom: 39px;
	border: none;
}

#category {
	/* border: 2px solid blue; */
	width: 100%;
	color: #444444;
	padding-right: 15px;
}

.hrAddPhoto {
	width: 100%;
}

.validerInput {
	font-family: 'Syne' sans-serif;
	margin: 0 auto;
	border: none;
	height: 36px;
	width: 237px;
	font-size: 14px;
	color: #FFFFFF;
	background: #a7a7a7;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	cursor: pointer;
}

.validerPreviewInput {
	font-family: 'Syne' sans-serif;
	margin: 0 auto;
	border: none;
	height: 36px;
	width: 237px;
	font-size: 14px;
	color: #FFFFFF;
	background: #1D6154;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	cursor: pointer;
}  

.imgPreviewContainer {
	width: 420px;
	height: 169px;
	position: relative;
	overflow: hidden;
	background-color: #E8F1F6;
	padding: 0;
	margin: 0;
	border: none;
}

.imgPreview {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 193px;
	width: 129px;
	object-fit : cover;
}